@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}
/* Increase card width for the vertical timeline */
.vertical-timeline--two-columns .vertical-timeline-element-content {
  width: 75%; /* Default is 44%, increase this to make them wider */
}

/* Adjust for mobile if needed */
@media only screen and (max-width: 1169px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    width: 80%; /* Takes more space on tablets/small laptops */
  }
}